extends base/estructura

block valores
	- seccion = "contacto";

block estilos
	+estilo( "css/" + seccion + ".css" )


block cuerpo
	section#seccion-portada
		figure: img(src="img/contacto-fondo.jpg", alt="")

	section#contenido
		article.fondo
			img(src="img/contacto-fondo2.jpg", alt="")
		article.contenedor
			.marco
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.2998552170766!2d-77.04180868549356!3d-12.09161289143743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c85bfdc01537%3A0x315e9fb5bda42228!2sSAN+CEFERINO!5e0!3m2!1ses-419!2spe!4v1491304362818" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
			.cuadro
				h1: img(src="img/t-escribenos.png", alt="")
				include partes/formulario.pug
				.info
					p +51 1 4228242
					p Av. Dos de Mayo 793, San Isidro, Lima, PE

	section#horarios
		-
			var horario = {
				lunes: "12:00 hr. a 23:30 hr.",
				martes: "12:00 hr. a 23:30 hr.",
				miércoles: "12:00 hr. a 23:30 hr.",
				jueves: "12:00 hr. a 23:30 hr.",
				viernes: "12:00 hr. a 23:30 hr.",
				sábado: "12:00 hr. a 23:30 hr.",
				domingo: "12:00 hr. a 22:00 hr."
			};

		article.contenedor
			.contenido
				h1: img(src="img/t-horarios.png", alt="")

				table
					each valor, clave in horario
						tr
							th= clave
							td= valor

