extends base/estructura

block valores
	- seccion = "historia";

block estilos
	+estilo( "css/" + seccion + ".css" )

block cuerpo
	section#seccion-portada
		article.fondo
			img(src="img/historia-fondo.jpg", alt="")
		article.contenedor
			.contenido
				h1: img(src="img/t-historia.png", alt="")

	section#contenido
		article.contenedor
			.imagenes
				figure: img(src="img/historia-foto3.png", alt="")
			.cuadro
				h1: img(src="img/t-elcocinero.png", alt="")
				h2 historia
				p Samuel L Ipsum is a Lorem Ipsum Generator, it uses quotes from films which Samuel L Jackson has starred.

		article.contenedor
			.contenido
				h1: img(src="img/t-lahistoria.png", alt="")
				h2 San Ceferino
				p.texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore, quam voluptatibus ipsum. Ex tenetur, quasi, provident animi magni voluptas fugit quae ad, quis pariatur soluta sunt similique earum praesentium.




	include /secciones/local.pug
	include /secciones/reserva.pug

