extends base/estructura

block valores
	- seccion = "index";

block estilos
	+estilo( "css/" + seccion + ".css" )

block cuerpo
	include /secciones/portada.pug
	include /secciones/historia.pug
	include /secciones/tiempo.pug
	include /secciones/carta.pug
	include /secciones/especiales.pug
	include /secciones/local.pug
	include /secciones/reserva.pug

