extends base/estructura

block valores
	- seccion = "menu";

block estilos
	+estilo( "css/" + seccion + ".css" )

block cuerpo
	section#seccion-portada
		article.fondo
			img(src="img/menu-fondo.png", alt="")
		article.contenedor
			.contenido
				h1: img(src="img/t-carta-blanco.png", alt="")
				p tradicional

	section#menues
		.contenedor
			.contenido
				h1: img(src="img/t-entradas.png", alt="")
				p Samuel L Ipsum is a Lorem Ipsum Generator, it uses quote.

				.categorias
					.categoria
						h3 Categoría
						ul
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li.recomendado
								h4 Nombre del plato
								p descripción del plato

					.categoria
						h3 Categoría
						ul
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li.recomendado
								h4 Nombre del plato
								p descripción del plato

			.contenido
				h1: img(src="img/t-platosdefondo.png", alt="")
				p Samuel L Ipsum is a Lorem Ipsum Generator, it uses quote.

				.categorias
					.categoria
						h3 Categoría
						ul
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li.recomendado
								h4 Nombre del plato
								p descripción del plato

					.categoria
						h3 Categoría
						ul
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li.recomendado
								h4 Nombre del plato
								p descripción del plato

			.contenido
				.portada
					figure: img(src="img/menu-foto1.jpg", alt="")

				h1: img(src="img/t-ensalada.png", alt="")
				p Samuel L Ipsum is a Lorem Ipsum Generator, it uses quote.

				.categorias
					.categoria
						h3 Categoría
						ul
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li.recomendado
								h4 Nombre del plato
								p descripción del plato

					.categoria
						h3 Categoría
						ul
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li
								h4 Nombre del plato
								p descripción del plato
							li.recomendado
								h4 Nombre del plato
								p descripción del plato


	include /secciones/especiales.pug
	include /secciones/reserva.pug

