//- Plantilla
include utiles

- var dir = ""
- var logo = "logo-chico.png"

block valores

doctype html
html( lang="es" )
	head
		block titulo
			title= titulo

		//- MetaEtiquetas
		each etiqueta in metaetiquetas
			meta&attributes( etiqueta )

		link(rel="icon",href="img/favicon.png",type="image/png")

		//- +estilo("css/uikit.min.css")
		include estilos.pug
		block estilos

	body(id=seccion)
		include /partes/seguimiento

		#pagina

			header#encabezado
				block encabezado
					include /partes/encabezado

			main#cuerpo
				block cuerpo


			footer#pie
				block pie
				include /partes/pie

		//- #emergentes
			block emergentes
			include /partes/emergentes

		include guiones.pug
		block guiones


