-
	var guiones=[
		"https://cdn.polyfill.io/v2/polyfill.min.js",
		"https://cdnjs.cloudflare.com/ajax/libs/object-fit/0.4.3/polyfill.object-fit.min.js",
		"https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js",
		"https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js",
		"https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/easing/EasePack.min.js",
		"https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/ScrollToPlugin.min.js",
		"js/general.js",

	]

for guion in guiones
	+guion( guion )
