@require "base/utiles"
@require "nib"


section#seccion-portada
	height auto
	min-height auto

	figure
		width 100%

		img
			width 100%


section#contenido

	.marco
		height 480px
		margin 2rem 0
		min-width 60%
		align-self stretch
		box-sizing border-box

	.cuadro
		position relative
		z-index 1

		h1
			margin-top -5rem
			margin-bottom 1rem

		.info
			absolute top 100% left 25%
			padding 1rem 2rem
			text-align left
			p
				margin-bottom 0.2rem

section#horarios
	.contenedor
		justify-content center

		h1
			text-align center
			margin-bottom 1rem

		table

			th
			td
				padding 0.5rem
				width 50%

			th
				text-transform uppercase
				font-weight bold


