@require "base/utiles"
@require "nib"


global-reset()
reset-html5()

html *
	background-color rgba( 0, 0, 0, 0.1 )
	//outline 1px solid rgba( 255, 255, 0, 0.3 )

	&:hover
		outline 1px solid rgba( 255, 0, 255, 0.5 )


body
	min-height 100vh
	margin 0
	padding 0
	font-family serif

strong
	font-weight bold

img
	max-width 100%

figure
	line-height 0

	img
		display block
		margin 0 auto

a > img
	display block
	margin 0

.contenedor
	max-width 1070px
	padding 0 1rem
	margin-right auto
	margin-left auto
	display flex
	align-items center
	flex-wrap wrap
	justify-content space-between
	align-content space-between

	&::before
	&::after
		content " "
		flex 1 0 100%
		align-self stretch
		display table
		clear both
		width 100%

#pagina
	min-height 100vh
	display flex
	flex-direction column
	box-sizing border-box

#encabezado
	fixed top left right
	background-color alpha( blanco, 0% )
	transition 350ms all
	z-index 2

	&.anclado
		background-color blanco
		figure
			display none
			&.alt
				display block

	.contenedor
		flex-wrap no-wrap

		&::before
		&::after
			content none

	.logo
		flex 0 2 auto
		display block
		padding 1rem 0
		max-width 40vw

		+desde( escritorio )
			min-width 240px


		.alt
			display none

#navegacion
	flex 0 1 auto
	margin-left auto

	&.abierto
		.menu
			margin-right 0%

	button
		+desde(escritorio)
			display none

	.hamburguesa
		absolute top right
		margin 0.5rem
		padding 0.5rem
		background-color alpha(negro, 50%)
		border none

		.icono
			border-top 0.6rem double blanco
			border-bottom 0.2rem solid blanco
			display block
			height 0.2rem
			width 1rem

	.cerrar
		color gris
		background-color transparent
		border none
		font-size 1.5rem
		display block
		margin 0.5rem 0 0.5rem auto

		+desde(escritorio)
			display none


	.menu
		margin-left 1rem
		transition 350ms all

		+hasta( escritorio )
			background-color blanco
			max-width 60vw
			absolute top right
			margin-right -100%
			padding 0.5rem


		.secciones
			display flex
			flex-wrap wrap
			justify-content flex-end

			+hasta( escritorio )
				flex-direction column

			a
				text-align center
				display block
				color blanco
				padding 1rem 0.8rem
				text-decoration none
				text-transform uppercase
				transition 350ms all

				.anclado &
					color dorado

				+hasta( escritorio )
					color dorado

[data-mover]
	transition 350ms all ease-out
[data-develar]
	transition 650ms all ease-out 150ms

#cuerpo
	flex 1 0 auto
	display flex
	flex-direction column

	&::before
	&::after
		content " "
		flex 1 0 100%
		align-self stretch
		display table
		clear both
		width 100%

	section
		position relative
		flex 1 0 auto
		min-height 480px
		height 100vh
		max-height 720px
		box-sizing border-box
		display flex
		align-items center
		overflow-x hidden
		overflow-y visible
		
		+hasta( escritorio )
			max-height none
			padding-bottom 1rem

		.fondo
			absolute top left bottom right
			z-index -1

			img
				absolute top left bottom right
				width 100%
				height 100%
				object-fit cover

		.contenedor
			flex 1 0 100%
			height 100%
			box-sizing border-box

			h2
				font-family sans-serif
				font-weight bold
				font-size calcRem(20)
				margin-bottom 1rem
				font-size 1.2rem
				text-transform uppercase

			p
				line-height 1.5
				font-size calcRem(13)
				text-transform uppercase
				margin-bottom 1rem


			.boton
				display block
				max-width 180px
				margin 1rem auto
				border 2px solid blanco
				background-color transparent
				padding 1.5em
				text-transform uppercase
				text-decoration none
				color blanco
				font-family sans-serif
				font-size calcRem(13)
				transition 350ms all

				&:hover
					color dorado
					background-color blanco

			.enlace
				display inline-block
				margin 0.5rem
				background-color dorado
				border 2px solid dorado
				color blanco
				padding 1.5em
				text-transform uppercase
				text-decoration none
				font-family sans-serif
				font-size calcRem(13)
				transition 350ms all

				&:hover
					color dorado
					background-color transparent

			.imagenes
				margin 2rem 0
				min-width 50%
				display flex
				align-self stretch
				box-sizing border-box
				
				+hasta( escritorio )
					min-width auto
					flex 1 1 auto

				figure
					max-width 100%
					& + figure
						margin-left 1rem
						
					img
						max-width 100%

			.cuadro
				flex 1 0 50%
				margin-left -50%
				max-width 55%
				background-color blanco
				padding 3rem
				box-shadow 2px 2px 1px 0 alpha(negro, 30%)
				text-align center
				box-sizing border-box
				
				+hasta( escritorio )
					max-width none
					flex 1 0 auto
					margin-left 0
					margin-right 0
					padding 2rem
					

				.enlace
					font-family sans-serif
					display block
					margin 0.5rem auto
					max-width 240px
					display flex
					justify-content center




#pie
	background-color marron
	padding 2rem 0 0.5rem
	color blanco

	.contenedor
		flex-direction column
		align-itens center

	.creditos
		margin 0
		text-align center
		padding 1rem
		text-transform uppercase
		margin-bottom 1rem
		border-bottom 1px solid crema

	.sociales
		display flex
		a
			margin 0.5rem





section#seccion-portada
	.fondo
		opacity 0

		&.aparece
			opacity 1

	.contenedor
		align-items flex-start
		//flex-direction column
		justify-content flex-start

		.contenido
			opacity 0
			transform translate(-100%, 0)

			&.aparece
				opacity 1
				transform translate(0%, 0)

		.bajada
			max-width 320px
			color blanco
			text-align center
			margin 1rem
			border-top 1px solid blanco
			padding 1rem
			line-height 1.4
			text-transform uppercase
			text-shadow 2px 2px 0 alpha( negro, 30% )

section#seccion-historia
	height auto
	.contenedor
		+hasta( escritorio )
			overflow hidden
			flex-direction column

section#seccion-tiempo
	overflow hidden
	height auto
	text-align center
	color blanco

	.contenedor
		justify-content center

	h1
		margin-bottom 2rem

	p
		max-width 480px
		margin-bottom 1rem


section#seccion-carta
	padding 3rem 0
	height auto
	max-height none
	text-align center

	.contenedor
		justify-content center

		.contenido
			max-width 100%
			flex 1 0 auto


	.categorias
		display flex
		flex-wrap wrap
		align-items stretch
		justify-content space-between

		.categoria
			flex 0 0 50%
			box-sizing border-box
			padding 0.5rem
			text-align left
			opacity 0

			&.aparece
				opacity 1


			h3
				font-size calcRem(30)
				font-family sans-serif
				text-transform uppercase
				padding 1rem 0
				border-bottom 1px solid gris


			ul
				display block

				li
					display block
					margin 2rem 0 0
					padding 1rem
					border 2px solid transparent

					&.recomendado
						border 2px solid dorado
						position relative
						transition 350ms all

						&::before
							content "El chef recomienda"
							font-size calcRem(11)
							font-family sans-serif
							text-transform uppercase
							absolute bottom 100% left -2px
							display block
							padding 0.5em 2rem 0.2em 1rem
							background-color dorado
							color blanco
							border 2px solid dorado
							transition 350ms all

						&:hover
							background-color dorado
							color blanco

							&::before
								background-color transparent
								color dorado
								border 2px solid transparent


					h4
						text-transform uppercase
						font-size calcRem(18)
						display flex

						&::after
							flex 1 0 auto
							content " "
							border-bottom 2px dotted gris

					p
						text-transform uppercase
						font-size calcRem(11)
						margin 0


section#seccion-especiales
	height auto
	max-height none
	flex-direction column

	.fondo
		img
			height auto

	.contenedor
		justify-content center

		.contenido
			max-width 100%
			flex 1 0 auto
			color blanco
			text-align center
			padding-top 15rem
			padding-bottom 5rem

			h2
				margin-top -2rem

	.listado
		self-align stretch
		width 100%
		display flex
		flex-wrap wrap
		box-shadow 0 -2rem 5rem 1rem alpha(negro, 90%)

		.especial
			flex 1 1 25%
			background-color blanco
			transform translate( 50%, 0)
			opacity 0
	
			+hasta( escritorio )
				flex 1 1 50%

			&.aparece
				transform translate( 0, 0)
				opacity 1

			figure
				position relative

				&::before
					content " "
					display block
					padding-top 100%

				img
					absolute top left
					width 100%
					height 100%
					object-fit cover

			.descripcion
				padding 1rem

				h4
					text-transform uppercase
					font-size calcRem(18)

				p
					text-transform uppercase
					font-size calcRem(11)
					margin 0

.enlaces
	padding 1rem
	self-align stretch

	.enlace
		display block
		margin 0.5rem
		background-color dorado
		border 2px solid dorado
		color blanco
		padding 1.5em
		text-transform uppercase
		text-decoration none
		font-family sans-serif
		font-size calcRem(13)
		transition 350ms all
		max-width 240px

		&:hover
			color dorado
			background-color transparent


section#seccion-local
	height auto
	max-height none

	.contenido
		padding 5rem 0 0
		flex 1 0 auto

	h1
		text-align center
		margin-bottom 1rem
		
	.banner
		max-width 100vw
		transform scale( 0.8)
		opacity 0

		&.aparece
			transform scale(1)
			opacity 1

		figure
			position relative

			img
				width 100%

			figcaption
				background-color alpha(negro, 50%)
				color blanco
				absolute bottom left right
				padding 1rem

				p
					margin 0




section#seccion-reserva
	height auto
	max-height none
	
	.contenedor
		+hasta( escritorio )
			overflow hidden
			flex-direction column

#formulario
	.fila

		&+.fila
			margin-top 1rem

		input
			border 1px solid lighten(gris, 30%)
			font-size calcRem(12)
			display block
			width 100%
			border none
			padding 1rem
			box-sizing border-box

		button
			background-color dorado
			border none
			color blanco
			padding 1rem
			text-transform uppercase