@require "base/utiles"
@require "nib"

section#seccion-portada
	.contenedor
		justify-content center
		color blanco

		p
			text-align center
			font-family sans-serif


section#contenido
	max-height none
	height auto
	flex-direction column

	.contenedor
		justify-content center
		align-items center
		flex-direction row
		justify-content space-between

		.contenido
			padding 5rem 0
			flex 1 0 auto
			text-align center
			max-width 100%

			p.texto
				column-count 2
				column-gap 2rem
				text-align justify

