@require "base/utiles"
@require "nib"

section#seccion-portada
	.contenedor
		justify-content center
		color blanco

		p
			text-align center
			font-family sans-serif


section#menues
	max-height none
	height auto

	.contenedor
		justify-content center
		flex-direction column
		align-items stretch

		.contenido
			padding 5rem 0
			flex 1 0 auto
			text-align center

			.portada
				img
					width 100%

			.categorias
				margin-top 3rem
				display flex
				flex-wrap wrap
				align-items stretch
				justify-content space-between

				.categoria
					flex 0 0 50%
					box-sizing border-box
					padding 0.5rem
					text-align left

					h3
						font-size calcRem(30)
						font-family sans-serif
						text-transform uppercase
						padding 1rem 0
						border-bottom 1px solid gris


					ul
						display block

						li
							display block
							margin 2rem 0 0
							padding 1rem
							border 2px solid transparent

							&.recomendado
								border 2px solid dorado
								position relative
								transition 350ms all

								&::before
									content "El chef recomienda"
									font-size calcRem(11)
									font-family sans-serif
									text-transform uppercase
									absolute bottom 100% left -2px
									display block
									padding 0.5em 2rem 0.2em 1rem
									background-color dorado
									color blanco
									border 2px solid dorado
									transition 350ms all

								&:hover
									background-color dorado
									color blanco

									&::before
										background-color transparent
										color dorado
										border 2px solid transparent


							h4
								text-transform uppercase
								font-size calcRem(18)
								display flex

								&::after
									flex 1 0 auto
									content " "
									border-bottom 2px dotted gris

							p
								text-transform uppercase
								font-size calcRem(11)
								margin 0
