include ../base/utiles

.contenedor
	a.logo(href="index.html")
		figure.alt
			img(src="img/logo2.png")

		figure: img(src="img/logo.png")

	nav#navegacion
		block navegacion
			include /partes/navegacion
