- numeros = "^[0-9]+$";
- palaba  = "^[a-zñçA-ZÑÇáéíóúÁÉÍÓÚ]+$";
- letras  = "^[a-z ñçA-ZÑÇáéíóúÁÉÍÓÚ]+$";
- correo  = "^[a-z0-9]+(\.?[_a-z0-9-]{1,}){0,}@?([_a-z0-9-]{0,63})?([\.]?[_a-z0-9-]{0,10})?$";
- varios  = "^[a-z ñçA-ZÑÇáéíóúÁÉÍÓÚ,.#ªº0-9]+$";

-
	var campos = [
		{ type: "text", name: "nombre", placeholder: "Nombres y Apellidos", pattern: letras },
		{ type: "email", name: "correo", placeholder: "Correo Electrónico" },
		{ type: "text", name: "motivo", placeholder: "Motivo de la Reserva" },
	]

form( action="?", method="POST" )#formulario
	each campo in campos
		.fila
			input&attributes( campo )

	.fila
		button( type="submit" ) Déjanos un mensaje
