include ../base/utiles

button.hamburguesa: span.icono

article.menu
	button.cerrar &times;
	ul.secciones
		li: a( href = "#inicio" ) Inicio
		li: a( href = "#historia" ) historia
		li: a( href = "#tiempo" ) Mas de 30 años
		li: a( href = "#carta" ) Carta
		li: a( href = "#especiales" ) Especiales
		li: a( href = "#reservas" ) Reservas
