include ../base/utiles

.contenedor
	p.creditos
		| Todos los derechos reservados. San Ceferino 2017

	p.sociales
		a(href="#"): img(src="img/ico-correo.png", alt="")
		a(href="#"): img(src="img/ico-fb.png", alt="")
