section#seccion-carta
	article.contenedor
		.contenido
			h1: img(src="img/t-carta.png", alt="")
			h2 tradicional
			p.bajada
				| Samuel L Ipsum is a Lorem Ipsum Generator, it uses quote.

			.categorias
				.categoria(data-develar)
					h3 Categoría
					ul
						li
							h4 Nombre del plato
							p descripción del plato
						li
							h4 Nombre del plato
							p descripción del plato
						li
							h4 Nombre del plato
							p descripción del plato
						li.recomendado
							h4 Nombre del plato
							p descripción del plato

				.categoria(data-develar)
					h3 Categoría
					ul
						li
							h4 Nombre del plato
							p descripción del plato
						li
							h4 Nombre del plato
							p descripción del plato
						li.recomendado
							h4 Nombre del plato
							p descripción del plato

				.categoria(data-develar)
					h3 Categoría
					ul
						li
							h4 Nombre del plato
							p descripción del plato
						li
							h4 Nombre del plato
							p descripción del plato
						li
							h4 Nombre del plato
							p descripción del plato
						li.recomendado
							h4 Nombre del plato
							p descripción del plato

				.categoria(data-develar)
					h3 Categoría
					ul
						li
							h4 Nombre del plato
							p descripción del plato
						li
							h4 Nombre del plato
							p descripción del plato
						li.recomendado
							h4 Nombre del plato
							p descripción del plato

				.categoria(data-develar)
					h3 Categoría
					ul
						li
							h4 Nombre del plato
							p descripción del plato
						li
							h4 Nombre del plato
							p descripción del plato
						li.recomendado
							h4 Nombre del plato
							p descripción del plato

				.categoria(data-develar)
					h3 Categoría
					ul
						li
							h4 Nombre del plato
							p descripción del plato
						li
							h4 Nombre del plato
							p descripción del plato
						li
							h4 Nombre del plato
							p descripción del plato
						li.recomendado
							h4 Nombre del plato
							p descripción del plato

			a.enlace(href="varta.html") ver menu completo
