section#seccion-especiales
	article.fondo
		img(src="img/especiales-fondo.jpg", alt="")
	article.contenedor
		.contenido
			h1: img(src="img/t-especiales.png", alt="")
			h2 del cheff

	article.listado
		each num in [1, 2, 3, 4, 5, 6, 7, 8]
			.especial(data-develar)
				figure: img(src="img/especiales-foto"+num+".jpg", alt="")
				.descripcion
					h4 Nombre del plato
					p Lorem ipsum dolor sit amet

	article.enlaces
		a.enlace(href="varta.html") Ver más



