section#seccion-historia
	article.contenedor
		.imagenes
			figure: img(src="img/historia-foto1.jpg", alt="")
			figure: img(src="img/historia-foto2.jpg", alt="")
		.cuadro(data-mover="250")
			h1: img(src="img/t-nuestra.png", alt="")
			h2 historia
			p Samuel L Ipsum is a Lorem Ipsum Generator, it uses quotes from films which Samuel L Jackson has starred.
			a.enlace("historia.html") Ver más
