section#seccion-local
	article.contenido
		h1: img(src="img/t-25agnos.png", alt="")

		#banner.banner(data-develar)
			div: figure
				img(src="img/local-foto1.jpg", alt="")
				figcaption
					.contenedor
						p texto



