section#seccion-portada
	article.fondo(data-develar)
		img(src="img/portada-fondo.jpg", alt="")
	article.contenedor
		.contenido(data-develar)
			h1: img(src="img/t-bienvenido.png", alt="")
			p.bajada
				| Samuel L Ipsum is a Lorem Ipsum Generator, it uses quote.
