section#seccion-reserva
	article.contenedor
		.imagenes
			figure: img(src="img/reserva-foto.jpg", alt="")
		.cuadro(data-mover="150")
			h1: img(src="img/t-reserva.png", alt="")
			h2 tu mesa
			p +514228242 #[br] Av. dos de mayo 793, san isiadro, lima, pe
			a.enlace("historia.html")
				img(src="img/ico-mapa.png", alt="")
				span Ver mapa
