section#seccion-tiempo
	article.fondo(data-mover="-250")
		img(src="img/tiempo-fondo.png", alt="")
	article.contenedor
		.contenido
			h1: img(src="img/t-30agnos.png", alt="")
			p.bajada
				| Samuel L Ipsum is a Lorem Ipsum Generator, it uses quote.

			a.boton(href="historia.html") ver más
